<ion-view title="Productos">
	<!-- Opciones -->
		<ion-nav-buttons side="right">
		      <!-- <button class="button button-icon ion-navicon" ng-click="popover.show()"></button> -->
		</ion-nav-buttons>

	<!-- Productos -->
  	<ion-content>
		<ion-list>
		    <div class="list">
			    <a class="item item-button-right" ng-repeat="producto in productos" href="#/tab/producto/{{producto.id}}">
			       {{ producto.nombre }}
			       <button class="button sinBorde">
			         <i class="ion-chevron-right"></i>
			       </button>
			     </a>
			</div>
		</ion-list>
		<ion-infinite-scroll ng-if="!noMoreItemsAvailable" icon="ion-loading-c" on-infinite="loadMore()" distance="20%"></ion-infinite-scroll>
  	</ion-content>

</ion-view>
