
<ion-view title="{{sucursal.nombre}}">
  <ion-content has-header="true" padding="true">
    
	<div class="list card">
  		<div class="item item-divider center">
	  		<h2><strong> {{ sucursal.nombre }} </strong></h2>
	  		<img src="img/logo.png" alt="{{farmacia.nombre}}"> 
	  	</div>
	    <ul class="list">
	  	<h5 class="center">Comunicate con nosotros:</h5>
	      <li class="item item-icon-left">
	        <i class="icon ion-email"></i>
	        <p>{{sucursal.email}}</p>
	      </li>
	      <li class="item item-icon-left">
	        <i class="icon ion-ios7-telephone"></i>
	        <p>{{sucursal.telefono}}</p>
	      </li>
	    <h5 class="center">O vicitanos en:</h5>
	      <li class="item item-icon-left">
	        <i class="icon ion-map"></i>
	        <p>{{sucursal.direccion}} {{', '}} {{sucursal.municipio}} {{', '}} {{sucursal.departamento + '.'}}</p>
	      </li>
	    </ul>
	</div>

  </ion-content>
</ion-view>
