<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-balanced tabs-color-active-positive">


  <!-- Inicio -->
  <ion-tab title="Inicio" icon="icon ion-home" href="#/tab/inicio">
    <ion-nav-view name="inicio"></ion-nav-view>
  </ion-tab>


  <!-- Productos Tab -->
  <ion-tab title="Productos" icon="icon ion-medkit" href="#/tab/productos">
    <ion-nav-view name="productos"></ion-nav-view>
  </ion-tab>


  <!-- Farmacias Tab -->
  <ion-tab title="Farmacias" icon="icon ion-map" href="#/tab/farmacias">
    <ion-nav-view name="farmacias"></ion-nav-view>
  </ion-tab>


</ion-tabs>
